


*{
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
}

header{
    margin: 15vh 5vh 0 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header nav img{
    display: none;
}

nav ul{
    list-style-type: none;
}

header nav ul{
    display: flex;
    color: #242E52;
    justify-content: space-evenly;
    width: 35vw;
}

header nav ul li a{
    color: #242E52;
    text-decoration: none;
}

header nav ul li a:hover{
    color: #8C8C94;
}

button{
    background-color: #F3603B;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 12px 25px;
    /* box-shadow: 2px 1px 10px #f38f75; */
    box-shadow: 10px 10px 5px 0px rgba(236, 168, 168, 0.57);
}

button:hover{
    cursor:pointer;
}

header button{
    box-shadow: 1px 1px 10px #474347;
}

p{
    font-weight: 500;
    margin: 20px 0 20px 0;
}

section{
    display: flex;
    margin: 5vw;
    align-items: center;
}

main section:nth-child(2){
    align-items: flex-start;
}

section article{
    margin-left: 5%;
}

h2{
    color: #242E52;
    font-size: 39.2px;
    text-align: center;
}

main section:nth-child(1) h2{
    font-size: 58px;
    text-align: left;
}

main section:nth-child(1)>article:nth-child(2) img{
    width: 45vw;
}

.meVasAHacerCaso{
    padding-right: 12vw;
}

main section:nth-child(2) h2{
    font-size: 36px;
    text-align: left;
}

.viñeta{
    background-color: #F3603B;
    border-radius: 30px;
    color: white;
    padding: 10px 25px;
    margin-right: 10px;
    align-self: flex-start;
}

.comentarios{
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.comentarios p{
    color: #B3B2B7;
}

h3{
    font-weight: bold;
    color: #242E52;
    padding-top: 7px;
    margin: 6px 0;
}

main section:nth-child(2) article:nth-child(2){
    padding-right: 7vw;
}

main section:nth-child(2) article:nth-child(2)>div{
    display: flex;
}

.reseñas{
    justify-content: space-between;
    margin: 5vh 7vw;
}

.reseñas article{
    margin: 0 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reseñas article p{
    margin: 25px 0;
    color: #B9B9C1;
    text-align: center;
}

.reseñas article img{
    height: 15vh;
    margin-bottom: 25px;
}

.puntitos{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    margin-top: 25vh;
}

footer i{
    color: white;
    font-size: 20px;
}

footer i:hover{
    color: violet;
    transform: scale(2);
}

footer>div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    background-color: #F3603B;
    padding: 0 10vw;
}

footer>div:nth-child(1) p{
    color: white;
    font-weight: 500;
    font-size: 40px;
    width: 25vw;
}

footer>div:nth-child(1) button{
    background-color: white;
    color: #F3603B;
    box-shadow: 2px 2px 10px #575150;
}

footer>div:nth-child(2){
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 30vh;
    padding: 5vh 0;
}

footer>div:nth-child(2)>div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5vh;
    flex-wrap: wrap;
}

footer>div:nth-child(2) nav ul{
    display: flex;
    justify-content: space-between;
} 

footer>div:nth-child(2)>nav ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 25vh;
    width: 30vw;
}

footer>div:nth-child(2)>nav ul li{
    padding-bottom: 15px;
    padding-left: 10%;
}

footer>div:nth-child(2)>nav ul li a{
    color: white;
    text-decoration: none;
   
}

footer>div:nth-child(2)>nav ul li a:hover{
    color: #F3603B;
}

/* footer>div:nth-child(2)>div:nth-last-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2vh;
} */

footer div:nth-last-child(1){
    color: #8C8C94;
    background-color: black;
    position: relative;
}

footer div:nth-last-child(1) p{
    position: absolute;
    bottom: 15px;
    right: 11vw;
}

footer form input{
    border-radius: 20px;
    height: 40px;
    border: none;
}

footer form input:nth-child(2){
    color: white;
    background-color: #F3603B;
    width: 5vw;
    margin-left: 5px;
}

footer form input:nth-child(2):hover{
    cursor: pointer;
}

/* Prueba para poner un botón de volver arriba. (Funciona!)
.volver{
    position: fixed;
    bottom: 30px;
    right: 5px;
    border: #F3603B solid 3px;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
} */

@media (max-width: 375px) {

    *{
        margin: 0;
        padding: 0;
    }

    header{
        justify-content: space-between; 
        padding: 15px;
        margin: 0;
    }

    header nav ul{
        display: none;
    }

    header nav img{
        display: initial;
    }

    header button{
        display: none;
        width: 0;
    }

    main section{
        flex-wrap: wrap;
        width: 90vw;
        align-items: center;
        margin: 10px;
        padding: 0;
    }

    main section:nth-child(1)>article:nth-child(2){
        order: 1;
       
    }

    main section:nth-child(1)>article:nth-child(2) img{
        width: 90vw;
    }

    main section:nth-child(1)>article:nth-child(1){
        order: 2;
        align-items: center;
        width: 90vw;
    }

    main section:nth-child(1)>article h2{
        text-align: center;
        font-size: 40px;
    }

    .meVasAHacerCaso{
        width: 90vw;
        padding: 0;
        margin: 0;
    }

    .meVasAHacerCaso p{
        padding: 20px;
        text-align: center;
        color: #B3B2B7;
    }

    main section:nth-child(2)>article h2{
        text-align: center;
    }

    main section:nth-child(2)>article:nth-child(2) div div:nth-child(2){
        width: 70vw;
    }

    main section:nth-child(2)>article:nth-child(2) div div:nth-child(2) p{
        margin: 0 0 20px 0;
        padding: 0;
        width: 85vw;
        text-align: left;
        position: relative;
        right: 66px;
    }

    main section article{
        margin: 15px;
        padding: 0;
        align-items: center;
    }

    .viñeta{
        margin: 0;
    }

    .comentarios{
        align-items: flex-start;
    }

    .comentarios h3{
        padding: 10px 0 10px 2px;
        margin: 0 0 20px 0;
        font-size: 20px;
        text-align: left;
    }

    *{
        text-align: center;
        align-items: center;
    }
    
    .reseñas article{
        display: none;
        margin-bottom: 8px;
    }

    .reseñas article:nth-child(2){
        display: initial;
    }

    .puntitos{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .puntitos div{
        width: 5px;
        height: 5px;
        border: solid #F3603B 1px;
        border-radius: 100%;
        margin-left: 3px;
    }

    .puntitos div:nth-child(2){
        background-color: #F3603B;
    }

    footer{
        margin-top: 25px;
        height: initial;
    }

    footer>div:nth-child(1){
        margin: 15px 0 0 0;
        justify-content: center;
        flex-direction: column;
        height: initial;
        padding: 70px 40px;
    }

    footer>div:nth-child(1) p{
        width: 75vw;
        margin: 0 0 15px 0;
    }

    footer>div:nth-child(2){
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        height: initial;
    }

    .suscribete{
        width: 90vw;
        margin-bottom: 10px;
        order: 1;
    }

    .suscribete input:nth-child(1){
        width: 65vw;
    }

    .suscribete input:nth-child(2){
        width: 20vw;
    }

    .nav{
        order: 2;
        padding: 0;
        margin: 20px;
        width: 80vw;
    }

    .nav ul li{
        width: 45vw;
        text-align: left;
    }

    footer>div:nth-child(2)>div:nth-child(1){
        order: 3;
    }
    
    .social{
        margin-bottom: 20px;
        order: 1;
    }

    .social ul{
        width: 70vw;
        justify-content: space-around;
    }

    .social ul li img{
        height: 5vh;
    }

    footer>div:nth-child(2)>div:nth-child(1) img{
        order: 2;
    }

    .derechos{
        margin-top: 20px;
        right: 25px;
    }
}